flask
PyPDF2
python-docx
scikit-learn
pandas
gunicorn
lxml
joblib
scipy
numpy
typing_extensions
python-dateutil
blinker
six
tzdata
werkzeug
jinja2
markupsafe
itsdangerous
click
packaging
threadpoolctl
colorama
